/*Definicoes gerais*/

body{
    padding: 10px;
    flex-direction:50%; 
 

}

* {
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: regular;
    color:#620C97;
}

h1, h2, h3{
    font-weight: 600;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2{
    font-size: 30px;
    margin-bottom: 10px;
}

h3{ 
    font-size: 24px;
}
h4{
    font-size: 16px;
    margin-left: 30px;
}
p{
    margin: 10px 0;

}

/*Conteudo do site*/

.MenuInicial{
    display: flex;
    justify-content:space-between;
    margin: 30px;
}

.Inicio{
    
    padding: bottom 1000px;

}

.iphone1{
    margin-left: 188px;
}

.iphone2{
    margin-left: 188px;
    margin-right: 30px;
    width: 400px;
    height: 782px;
}

.descricao {
    margin-top: -50px;
    margin-right: 694;
}

.download{
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
    padding: bottom 600px;
}
.baixe{
    margin-top: 50px;

}

.baixe h1{
    align-items: center;
}

.section {
    padding: 20px;
    text-align: center;

}


.botao ul {

    flex-direction: row;
    display: flex;
    align-content: center;
    margin: 50px 100px;
    justify-content: space-between;
    
}

.botao ul li {
    flex-direction: row;
    background-color: #B160E2;
    display: flex;
    justify-content:center;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 62px;
    border-radius: 10px;
    
    
}

.botao ul li a{
    margin-top: auto;
    margin-bottom: auto;
    color:white;
    text-decoration: none;
    align-content: center;
    justify-content: space-between;

}


.descricao{
    font-size: 32;
}

.logoApple{
    width: 43px;
    height: 51px;
}


.cadastro{
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    
    
}

.formulario {
    background-color:#B160E2;
    color: white;
    margin: 50px 100px;
    padding: 50px 20px;
    border-radius: 20px;
    text-align: center;
    

}

.formulario Button {
    width: 200px;
    height: 30px;
    background: #620C97;
    border-radius: 20px;
    color: white;
}
